<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Posts</title>
    <link rel="stylesheet" href="styles/style.css">
    
</head>
<body>
    <h1>Admin Posts</h1>
    <% if (data.length !== 0){ %>
        <% for (let i = 0; i < data.length; i++){ %>
            <div class="blogEntry">
                <h2><%= data[i].title %></h2>
                <p> <%= data[i].content %></p>
                <p>Author: <%= data[i].author %></p>
                <p id="time"><%= data[i].time %></p>
            </div>
            
        <% } %>
    <% } else { %>
        <p>No Posts Found</p>
    <% } %>
    <hr>
    <a href="/">Create a New Post</a> | <a href="/entries">View All Entries</a>
</body>
</html>